.container{
  padding: 10px;
}

.top-pad{
  padding-top:50px;
}
.top-margin{
  margin-top: 20px;
}
.rounded {
  border-radius: 10px;
}
//** found this navbar height change code online**//

.navbar-nav > li > a, .navbar-brand {p
  adding-top:5px !important; padding-bottom:5px !important;
}

.navbar-fixed-top {
  height: 25px !important;
}

.navbar-custom{
  background-color: #FFDEBB;
}
#interestExperience h3{
  color: #066c7a;
}
.small-container{
  max-width:50%;

}
.small-container button {
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.small-container h3 {
  font-style: italic;
  text-align: center;
  font-weight: bold;
  color: #ffdebb;
}

.small-container p{
text-align: center;
}
.special-header h2 {
  color: #c8b406;
  text-align: center;
  font-weight:bolder;
}
.special-header p{
  text-align: center;
}

.testingsomething {
  background-color: #3F8690;
}
.redmeansdead{
  color: red;
  font-weight:bold;
  text-shadow: 3px;
}
